In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [ ]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
X = dataset.iloc[:,3:13]
Y = dataset.iloc[:,13]

In [ ]:
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [ ]:
X=pd.concat([X,geography,gender],axis=1)

In [ ]:
X=X.drop(['Geography','Gender'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
## Now let's make an ANN

In [ ]:
import keras 
from keras.models import Sequential 
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [ ]:
## Initialising the ANN
classifier = Sequential()

In [ ]:
## Adding the input layer and the first hidden layer 
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform' , activation = 'relu' , input_dim = 11))

In [ ]:
## Adding the second hidden layer 

classifier.add(Dense(units = 6 , kernel_initializer = 'he_uniform', activation = 'relu'))

In [ ]:
## Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer='glorot_uniform' , activation='sigmoid'))

In [ ]:
## Compiling the ANN
classifier.compile(optimizer='adam', loss = 'binary_crossentropy', metrics=['accuracy'])